/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #282c34;
    padding: 1rem;
  }

  .navbar-title {
    font-size: 1.5rem;
    color: #61dafb;
    font-weight: bold;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  
  .nav-link:hover {
    color: #61dafb;
  }
  
  .active-link {
    color: #61dafb;
    font-weight: bold;
    text-decoration: underline;
  }
  